<?xml version="1.0"?>
<!--
  ~ This file is part of Malga Payment Extension for Adobe Commerce / Magento Open Source Payment Extension. For the
  ~ full copyright and license information please view the LICENSE.md file that was distributed with this source code.
  ~
  ~ @copyright 2023 Malga
  ~ @author Malga Team <engineer@malga.io>
  ~ @link https://docs.malga.io/ Documentation of Malga
  -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <malga>
                <sandbox_mode>0</sandbox_mode>
                <public_key_sandbox backend_model="Magento\Config\Model\Config\Backend\Encrypted" />
                <private_key_sandbox backend_model="Magento\Config\Model\Config\Backend\Encrypted" />
                <public_key backend_model="Magento\Config\Model\Config\Backend\Encrypted" />
                <private_key backend_model="Magento\Config\Model\Config\Backend\Encrypted" />
            </malga>
            <malga_pix>
                <title>PIX</title>
                <active>0</active>
                <debug>0</debug>
<!--                <debugReplaceKeys></debugReplaceKeys>-->
                <can_authorize>1</can_authorize>
                <can_capture>1</can_capture>
                <can_void>1</can_void>
                <can_use_checkout>1</can_use_checkout>
                <can_use_internal>0</can_use_internal>
<!--                <currency>BR</currency>-->
                <is_gateway>1</is_gateway>
<!--                <merchant_gateway_key></merchant_gateway_key>-->
                <model>MalgaPixFacade</model>
                <order_status>pending</order_status>
<!--                <paymentInfoKeys></paymentInfoKeys>-->
<!--                <privateInfoKeys></privateInfoKeys>-->
                <payment_action>authorize</payment_action>
                <sort_order>0</sort_order>
                <qrcode_expiration>900</qrcode_expiration>
            </malga_pix>
        </payment>
    </default>
</config>

