<?xml version="1.0"?>
<!--
  ~ This file is part of Malga Payment Extension for Adobe Commerce / Magento Open Source Payment Extension. For the
  ~ full copyright and license information please view the LICENSE.md file that was distributed with this source code.
  ~
  ~ @copyright 2023 Malga
  ~ @author Malga Team <engineer@malga.io>
  ~ @link https://docs.malga.io/ Documentation of Malga
  -->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\Payment\Gateway\Data\Order\OrderAdapter" type="Malga\Payments\Gateway\Data\Order\OrderAdapter"/>
    <preference for="Malga\Payments\Gateway\Data\AddressAdapterInterface" type="Malga\Payments\Gateway\Data\Order\AddressAdapter"/>
    <virtualType name="MalgaPaymentsConfig" type="Magento\Payment\Gateway\Config\Config">
        <arguments>
            <argument name="methodCode" xsi:type="string">malga</argument>
        </arguments>
    </virtualType>
    <type name="Malga\Payments\Gateway\Http\Client\ClientAdapter">
        <arguments>
            <argument name="config" xsi:type="object">MalgaPaymentsConfig</argument>
        </arguments>
    </type>
    <virtualType name="MalgaPixPaymentsConfig" type="Magento\Payment\Gateway\Config\Config">
        <arguments>
            <argument name="methodCode" xsi:type="const">Malga\Payments\Model\Ui\Pix\ConfigProvider::CODE</argument>
        </arguments>
    </virtualType>
    <type name="Malga\Payments\Model\Ui\Pix\ConfigProvider">
        <arguments>
            <argument name="config" xsi:type="object">MalgaPixPaymentsConfig</argument>
        </arguments>
    </type>
    <!--    <virtualType name="SamplePaymentGatewayLogger" type="Magento\Payment\Model\Method\Logger">-->
    <!--        <arguments>-->
    <!--            <argument name="config" xsi:type="object">SamplePaymentGatewayConfig</argument>-->
    <!--        </arguments>-->
    <!--    </virtualType>-->
    <virtualType name="MalgaPixConfigValueHandler" type="Magento\Payment\Gateway\Config\ConfigValueHandler">
        <arguments>
            <argument name="configInterface" xsi:type="object">MalgaPixPaymentsConfig</argument>
        </arguments>
    </virtualType>

    <virtualType name="MalgaPixValueHandlerPool" type="Magento\Payment\Gateway\Config\ValueHandlerPool">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="default" xsi:type="string">MalgaPixConfigValueHandler</item>
                <item name="can_void" xsi:type="string">Malga\Payments\Gateway\Config\CanVoidHandler</item>
                <item name="can_cancel" xsi:type="string">Malga\Payments\Gateway\Config\CanVoidHandler</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="MalgaPixValidatorPool" type="Magento\Payment\Gateway\Validator\ValidatorPool">
        <arguments>
            <argument name="validators" xsi:type="array">
                <!--                <item name="country" xsi:type="string">Magento\Payment\Gateway\Validator\CountryValidator</item>-->
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="MalgaPixFacade" type="Magento\Payment\Model\Method\Adapter">
        <arguments>
            <argument name="code" xsi:type="const">Malga\Payments\Model\Ui\Pix\ConfigProvider::CODE</argument>
            <argument name="formBlockType" xsi:type="string">Malga\Payments\Block\Pix\Form</argument>
            <argument name="infoBlockType" xsi:type="string">Malga\Payments\Block\Pix\Info</argument>
            <argument name="valueHandlerPool" xsi:type="object">MalgaPixValueHandlerPool</argument>
            <argument name="validatorPool" xsi:type="object">MalgaPixValidatorPool</argument>
            <argument name="commandPool" xsi:type="object">MalgaPixCommandPool</argument>
        </arguments>
    </virtualType>


    <virtualType name="MalgaPixCommandPool" type="Magento\Payment\Gateway\Command\CommandPool">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="authorize" xsi:type="string">MalgaPixAuthorizeCommand</item>
                <item name="sale" xsi:type="string">MalgaPixSaleCommand</item>
                <item name="capture" xsi:type="string">MalgaPixCaptureStrategyCommand</item>
<!--                <item name="refund" xsi:type="string">MalgaPixCaptureStrategyCommand</item>-->
<!--                <item name="void" xsi:type="string">MalgaPixCaptureStrategyCommand</item>-->
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="MalgaPixAuthorizeCommand" type="Malga\Payments\Gateway\Command\GatewayCommand">
        <arguments>
            <argument name="requestBuilder" xsi:type="object">MalgaPixAuthorizeRequest</argument>
            <argument name="transferFactory" xsi:type="object">Malga\Payments\Gateway\Http\TransferFactory</argument>
            <argument name="client" xsi:type="object">Malga\Payments\Gateway\Http\Client\ClientAdapter</argument>
            <argument name="handler" xsi:type="object">MalgaPixAuthorizationHandler</argument>
            <argument name="validator" xsi:type="object">Malga\Payments\Gateway\Validator\ResponseValidator</argument>
            <argument name="errorMessageMapper" xsi:type="object">Malga\Payments\Gateway\ErrorMapper\VirtualErrorMessageMapper</argument>
        </arguments>
    </virtualType>
    <virtualType name="MalgaPixAuthorizeRequest" type="Magento\Payment\Gateway\Request\BuilderComposite">
        <arguments>
            <argument name="builders" xsi:type="array">
                <item name="customer" xsi:type="string">Malga\Payments\Gateway\Request\CustomerDataBuilder</item>
                <item name="payment" xsi:type="string">Malga\Payments\Gateway\Request\PaymentDataBuilder</item>
                <!--                <item name="fraud" xsi:type="string">PayPal\Braintree\Gateway\Request\FraudDataBuilder</item>-->
                <!--                <item name="source" xsi:type="string">PayPal\Braintree\Gateway\Request\TransactionSourceDataBuilder</item>-->
                <!--                <item name="customFields" xsi:type="string">PayPal\Braintree\Gateway\Request\CustomFieldsDataBuilder</item>-->
                <!--                <item name="address" xsi:type="string">PayPal\Braintree\Gateway\Request\AddressDataBuilder</item>-->
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="MalgaPixAuthorizationHandler" type="Magento\Payment\Gateway\Response\HandlerChain">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="payment_details" xsi:type="string">Malga\Payments\Gateway\Response\PaymentDetailsHandler</item>
                <item name="txn_id" xsi:type="string">Malga\Payments\Gateway\Response\TransactionIdHandler</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="MalgaPixSaleCommand" type="MalgaPixAuthorizeCommand">
        <arguments>
            <argument name="requestBuilder" xsi:type="object">MalgaPixSaleRequest</argument>
        </arguments>
    </virtualType>
    <virtualType name="MalgaPixSaleRequest" type="Magento\Payment\Gateway\Request\BuilderComposite">
        <arguments>
            <argument name="builders" xsi:type="array">
                <item name="authorize" xsi:type="string">MalgaPixAuthorizeRequest</item>
                <!--  @todo settlement = CAPTURE?               <item name="settlement" xsi:type="string">PayPal\Braintree\Gateway\Request\SettlementDataBuilder</item>-->
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="MalgaPixCaptureStrategyCommand" type="Malga\Payments\Gateway\Command\CaptureStrategyCommand">
        <arguments>
            <argument name="commandPool" xsi:type="object">MalgaPixCommandPool</argument>
        </arguments>
    </virtualType>
    <virtualType name="Malga\Payments\Gateway\ErrorMapper\VirtualMappingData" type="Magento\Payment\Gateway\ErrorMapper\MappingData">
        <arguments>
            <argument name="cacheId" xsi:type="string">malga_error_mapper</argument>
        </arguments>
    </virtualType>
    <virtualType name="Malga\Payments\Gateway\ErrorMapper\VirtualErrorMessageMapper" type="Magento\Payment\Gateway\ErrorMapper\ErrorMessageMapper">
        <arguments>
            <argument name="messageMapping" xsi:type="object">Malga\Payments\Gateway\ErrorMapper\VirtualMappingData</argument>
        </arguments>
    </virtualType>
    <type name="Malga\Payments\Gateway\Request\PaymentDataBuilder">
        <arguments>
            <argument name="config" xsi:type="object">MalgaPixPaymentsConfig</argument>
        </arguments>
    </type>
</config>
