<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="payment_method_assign_data_plug_creditcard">
        <observer name="plug_payment_method_assign_data_plug_creditcard" instance="PlugHacker\PlugPagamentos\Observer\CreditCardDataAssignObserver" />
    </event>
    <event name="payment_method_assign_data_plug_billet">
        <observer name="plug_payment_method_assign_data_plug_billet" instance="PlugHacker\PlugPagamentos\Observer\BilletDataAssignObserver" />
    </event>
    <event name="payment_method_assign_data_plug_pix">
        <observer name="plug_payment_method_assign_data_plug_pix" instance="PlugHacker\PlugPagamentos\Observer\PixDataAssignObserver" />
    </event>
    <event name="sales_order_place_before">
        <observer name="plug_payment_sales_order_place_before_plug_creditcard" instance="PlugHacker\PlugPagamentos\Observer\CreditCardOrderPlaceBeforeObserver" />
        <observer name="plug_payment_sales_order_place_before" instance="PlugHacker\PlugPagamentos\Observer\OrderPlaceBeforeObserver" />
    </event>
    <event name="sales_order_place_after">
        <observer name="plug_payment_method_plug_credit_card_after_place_order" instance="PlugHacker\PlugPagamentos\Observer\SalesOrderPlaceAfter" />
    </event>
    <event name="admin_system_config_changed_section_payment">
        <observer name="Plug_DataValidateAdmin" instance="PlugHacker\PlugPagamentos\Observer\DataValidateAdmin" />
    </event>
    <event name="adminhtml_customer_prepare_save">
        <observer name="plug_payment_adminhtml_customer_prepare_save" instance="PlugHacker\PlugPagamentos\Observer\AdminCustomerBeforeSave" />
    </event>
    <event name="customer_address_save_before">
        <observer name="plug_customer_address_before_save_viv_observer" instance="PlugHacker\PlugPagamentos\Observer\CustomerAddressSaveBefore" />
    </event>

    <event name="order_cancel_after">
        <observer name="cancel_order_at_plug"
                  instance="PlugHacker\PlugPagamentos\Observer\OrderCancelAfter" />
    </event>

    <event name="sales_order_payment_refund">
        <observer name="cancel_order_at_plug_via_payment_refund"
                  instance="PlugHacker\PlugPagamentos\Observer\OrderCancelAfter" />
    </event>
</config>
