<?xml version="1.0"?>
<!--
  ~ This file is part of Malga Payment Extension for Adobe Commerce / Magento Open Source Payment Extension. For the
  ~ full copyright and license information please view the LICENSE.md file that was distributed with this source code.
  ~
  ~ @copyright 2023 Malga
  ~ @author Malga Team <engineer@malga.io>
  ~ @link https://docs.malga.io/ Documentation of Malga
  -->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Malga\Payments\Block\Adminhtml\System\Config\Form\Fieldset">
        <arguments>
            <argument name="secureRenderer" xsi:type="object">Magento\Framework\View\Helper\SecureHtmlRenderer\Proxy</argument>
        </arguments>
    </type>
</config>
