<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
  <system>
    <section id="payment">
      <group id="malga_section" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
        <label>Malga</label>
        <comment>Single Payments integration with multiple connections that empower e-commerces, platforms and digital businesses.</comment>
        <fieldset_css>complex malga-section</fieldset_css>
        <frontend_model>Malga\Payments\Block\Adminhtml\System\Config\Form\Fieldset</frontend_model>
        <include path="Malga_Payments::system/basic.xml"/>
        <include path="Malga_Payments::system/customer.xml"/>
        <include path="Malga_Payments::system/pix.xml"/>
<!--        <include path="StripeIntegration_Payments::system/express.xml"/>-->
<!--        <include path="StripeIntegration_Payments::system/fraud.xml"/>-->
<!--        <include path="StripeIntegration_Payments::system/subscriptions.xml"/>-->
      </group>
    </section>
  </system>
</config>
